<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
<Properties>
    <Property name="filename">log</Property>
</Properties>
<Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </Console>
   <RollingFile  name="LOGFILE"
            append="true"
            fileName="${filename}/Logger.log"
            filePattern="${filename}/Logger.%i.log"> 
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
        </RollingFile>
</Appenders>
<Loggers>
   <Logger name="com.edusoln" level="debug">
        <AppenderRef ref="LOGFILE"/>
    </Logger>
    <Root level="debug">
        <AppenderRef ref="STDOUT"/>
    </Root>
</Loggers>
</Configuration>